.container {
    width: 95%;
    padding: 10px;
    justify-content: space-around;
    display: flex;
    margin-top: 13px;
    margin-left: 390px;
    margin-right: 100px;
    float: right;
}
a {
    color: black;
    text-transform: capitalize;
    font-size: 24px;
    text-decoration: none;
    font-family: sans-serif
}
.flex {
    display: flex;
}
.space {
    margin-left: 160px;
}
p {
    font-size: 19px;
}
a:hover {
    color: #378B9B;
    transition-duration: 0.5s;
    animation-duration: 1s;
    animation-name: gachchan;
}
@keyframes gachchan {
    0% {
        border-bottom: 3px solid transparent;
    }
    100% {
        border-bottom: 3px solid #378B9B
    }
}
