.container {
    width: 95%;
    padding: 10px;
    justify-content: space-around;
    display: flex;
    margin-top: 13px;
    margin-left: 390px;
    margin-right: 100px;
    float: right;
}
a {
    color: black;
    text-transform: capitalize;
    font-size: 24px;
    text-decoration: none;
    font-family: sans-serif;
    transition-duration: 0.5s;
}
.box {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 400px;    
    text-align: center;
}
.box .image1 {
    width: 100px;
    height: 100px;
    margin-top: 20px; 
    margin-bottom: 20px;  
}
.header {
    font-size: 30px;
    font-weight: 2px;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
}
.box2 {
    border: 1px solid #378B9B;
    border-radius: 5px;
    text-align: center;
    width: 270px;
}
.hr {
    border: 0.5px solid #378B9B;
    width: 100px;
    margin-left: 80px;
}
.description {
    font-size: 17px;
}
a:hover {
    color: #378B9B;
    transition-duration: 0.5s;
    animation-duration: 1s;
    animation-name: gachchan;
}
@keyframes gachchan {
    0% {
        border-bottom: 3px solid transparent;
    }
    100% {
        border-bottom: 3px solid #378B9B
    }
}