.container {
    background-color: rgb(0, 162, 255);
    width: 52.5%;
    margin: auto;
    padding: 10px;
    justify-content: space-around;
    display: flex;
}
a {
    color: white;
    text-transform: uppercase;
}