#chi-tiet .phan-loai li { 
    border-bottom: 1px solid black;
    display: block;
    padding: 4px;
    width: 500px;
}
p {
    margin: 0
}
ul {
    margin-top: 3px;
}
h3 {
    margin-bottom: 3px;
}
a {
    text-decoration: none;
}