.image1 {
    height: 286.1px;
    width: 402.7px;
}
.caption {
    border: 1px solid #DDDDDD;
    text-align: left;
    background-color: #EEEEEE;
    padding: 4px 4px 3px 4px;
    margin-left: 10px;
    border-radius: 3px;
}

.caption img {
    margin: 0px 0px 2px 0px;
    padding: 0px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;                 
}
.caption p.caption-text {
    font-family: Arial, Sans-Serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 12px;
    color: black;
}
.all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#caption-down {
    margin-left: 220px;
}
.container {
    background-color:#34475c;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    display: flex;
}
a {
    color: white;
    text-transform: capitalize  ;
    font-family: sans-serif;
    text-decoration: none;
    margin-top: 17px;
}
.caption p.cation-text:hover {
    color: red;
}
.footer-para {
    margin-left: 10px;
    text-decoration: underline;
}
h2 {
    margin-left: 20px;
    font-size: 20px;
}
img {
    transition-duration: 1s;
    margin: 0 auto;
    display: block;
    border: 1px solid black;
}
img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 0;
}
.wrap {
    overflow: hidden
}
h1 {
    animation: blink 0.8s infinite;
}
@keyframes blink {
    0% {
        color: white;
    }
    100% {
        color: red;
    }
}