a {
    text-transform: capitalize;
    text-decoration: none;
}
.menu ul {
    background: #e6e6e6be;
    width: 250px;
    padding: 0;
    list-style-type: none;
    text-align: left;
}
.menu li {
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 1em;
}
.menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
  }
.menu li:hover {
    background: lightgrey;
}
.menu li a:hover {
    color: orange
}
.menu ul li {
    position: relative;
}
.menu .sub-menu {
    position: absolute;
    left: 250px;
    top: 0;
    display: none;
}
.menu li:hover .sub-menu {
    display: block;
}